<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="database.mapper.CityMapper">

    <update id="updateName">
        update city set District = "Kabolaaaaaaaa" where id = 1;
    </update>


    <!-- 查找city信息 -->
    <select id="findAllCity" resultType="database.model.City">
        select * from city where id = 1;
    </select>

    <!-- #是把传入的数据当作字符串,$传入的数据直接生成在sql里
    #方式能够很大程度防止sql注入,$方式无法防止sql注入．一般能用#的就别用$.
    $方式一般用于传入数据库对象．例如传入表名.
    -->
    <select id="getCityById" resultType="database.model.City">
        SELECT * FROM city where id = #{id};
    </select>

</mapper>